<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="telltok.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <userSettings>
    <telltok.Properties.Settings>
      <setting name="LockModPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="LoginUserNo" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ChatBackColor" serializeAs="String">
        <value>186, 206, 224</value>
      </setting>
      <setting name="ChatOpacity" serializeAs="String">
        <value>100</value>
      </setting>
    </telltok.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="DLLs" />
    </assemblyBinding>
  </runtime>
 <connectionStrings>
  <add name="telltokEntities" connectionString="metadata=res://*/db.data.csdl|res://*/db.data.ssdl|res://*/db.data.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=telltok;persist security info=True;user id=sa;password=1234;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
 </connectionStrings>
</configuration>